<div class="container">
  <div class="row p-3 border-bottom">
    <h1>My tasks</h1>
  </div>

  <div class="row p-3 border-bottom">
    <% @tasks.each do |task|%>
  <ul>
    <li class="list-unstyled">
      <input type="checkbox" aria-label="Checkbox for following text input">
      <%= link_to task.title, task_path(task), class: "text-decoration-none" %>
      <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-decoration-none" do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </li>
  </ul>
      <% end %>
  </div>

  <div class="p-3">
    <a href="<%= new_task_path(@task)%>" class="text-decoration-none"><i class="fa-solid fa-plus"></i>
    Add a new task
    </a>
  </div>
</div>
